{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>combo</title>
</head>
<body>
{% include "html/header.html" %}
<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
    <h1>Special Combo Offer's</h1><br>
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
    <img src="{% static 'images/combo2.png' %}" alt="" width="400px;" height="400px">
   <h6 class="card-title">Ham Burger with French Fires, Cola, Donuts and Chips </h6>
   <p>Price: $1800</p>
   <a href="/foodapp/cartsave" class="btn btn-success">Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
     <img src="{% static 'images/combo3.png' %}" alt="" width="400px;" height="400px">
<br>
        <h6 class="card-title">Meat Burger with French Fires, Cookies and Chilli Souce</h6>
        <p>Price: $1500</p>
        <a href="/foodapp/cartsave" class="btn btn-success">Add to Cart</a>
      </div>
    </div>
  </div>
</div>
{% include "html/footer.html" %}
</body>
</html>