<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
<div class="card text-white bg-dark">
<div class="text-warning bg-dark" >
    <h5><u>Most Popular Restaurants</u></h5>
    <p style="font-family: Agency FB; font-size: 18px;"> Rice Boat(Kochi), Trilogi(Ekm), The Asian Kitchen(Kochi), Tharavadu(Tvm), Raosi(FortKochi),
    Garden Grillie(Tvm), Mother's Veg Plaza(Ekm), Zam Zam(kannur), Ajwa(kannur), Paragon(Kozhikode),
    Dhe Puttu(idappily), Bharat(Thrissur), Royal court(Mannuthi), Noorjehan's(Thrissur),
    Kalyan Veg(Thrissur), Ayush(Kannur), Halais(Alapuzha), Brews & Burger's(Kym),Coffee Temple(varkala).</p>
</div>
    <div class="row">
            <div class="col-sm-4">
         <div class="card-body">
             <h4><u>Contact Us</u></h4>
             <p style="font-family: Bell MT; line-height: normal;">Head Office</p>
             <p style="font-family: Bell MT; line-height: normal;">Hunger Private Limited</p>
             <p style="font-family: Bell MT; line-height: normal;">Building No:16</p>
             <p style="font-family: Bell MT; line-height: normal;">Bergonia Street, Banglore</p>
             <p style="font-family: Bell MT; line-height: normal;">Website:&nbsp;www.Hunger.com</p>
             <p style="font-family: Bell MT; line-height: normal;">080-465832157,+912584763215</p>
             <p style="font-family: Bell MT; line-height: normal;"><i class="fas fa-envelope"></i>&nbsp; hungerfoods@gmail.com</p></center>
      </div>
    </div>
   <div class="col-sm-4">
         <div class="card-body">
             <p style="font-family: Bell MT; line-height: normal; font-size: 20px;">About Us</p>
             <p style="font-family: Bell MT; line-height: normal; font-size: 20px;">Privacy Policy</p>
             <p style="font-family: Bell MT; line-height: normal; font-size: 20px;">Terms of Use</p>
             <p style="font-family: Bell MT; line-height: normal; font-size: 20px;">F.A.Q</p>
      </div>
    </div>
  <div class="col-sm-4">
         <div class="card-body">
             <h4><u>Payment Methods</u></h4>
             <p style="font-family: Bell MT; line-height: normal;">Credit Cards</p>
              <p style="font-family: Bell MT; line-height: normal;">Net banking</p>
              <p style="font-family: Bell MT; line-height: normal;">ATM & Debit Cards</p>
              <p style="font-family: Bell MT; line-height: normal;">COD(cash on delivery)</p>
      </div>
      <div>
  <p><h4 class="card-header">Social Links:-&nbsp;<i class="fab fa-facebook"></i>&nbsp;<i class="fab fa-youtube-square">&nbsp;</i><i class="fab fa-twitter">&nbsp;</i><i class="fab fa-instagram">&nbsp;</i><i class="fab fa-whatsapp">&nbsp;</i><i class="fab fa-linkedin">&nbsp;</i></h4>
</p>
      </div>
    </div>
  </div>
 <div class="text-info bg-dark" style="padding-bottom: 20px;">
 <h11><center>All rights of Terms of use,Privacy policies,Cookies are reserved @ Hunger Ltd.</center></h11></div>
 </div>
</div>
</body>
</html>