{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
 <body>
{% include "html/header.html" %}
  <div class="container" style="padding-top: 50px; padding-bottom: 50px;">
      <h1>Search Your Taste</h1><br>
    <div class="row">
       <div class="col">
          <img src="{% static 'images/start1.png' %}" alt="" width="200px;" height="200px">
            <h6>Chicken Kabab</h6>
        <h7>RiceBoat Hotel</h7>
           <a href="/foodapp/starter" class="btn btn-info btn-sm">Choose</a>
       </div>

   <div class="col">
      <img src="{% static 'images/d3.png' %}" alt="" width="200px;" height="200px">
        <h6>Lemon Tea</h6>
        <h7>M-grill</h7>
           <a href="/foodapp/drinks" class="btn btn-info btn-sm">Choose</a>

    </div>
    <div class="col">
      <img src="{% static 'images/start2.png' %}" alt="" width="200px;" height="200px">
        <h6>Chicken Keema Ball</h6>
        <h7>Work & Grill</h7>
           <a href="/foodapp/starter" class="btn btn-info btn-sm">Choose</a>

    </div>
     <div class="col">
      <img src="{% static 'images/me1.png' %}" alt="" width="200px;" height="200px">
        <h6>Kerala Veg Meals</h6>
        <h7>Tharavadu</h7>
           <a href="/foodapp/meals" class="btn btn-info btn-sm">Choose</a>

    </div>
  </div>
    <br><br>
    <div class="row">
    <div class="col">
      <img src="{% static 'images/d1.png' %}" alt="" width="200px;" height="200px">
        <h6>Berries Lime</h6>
        <h7>Garden's</h7>
           <a href="/foodapp/drinks" class="btn btn-info btn-sm">Choose</a>

    </div>
    <div class="col">
      <img src="{% static 'images/cur1.png' %}" alt="" width="200px;" height="200px">
        <h6>Mutta Roast</h6>
        <h7>Paragon</h7>
        &nbsp;&nbsp;&nbsp;25%Offer<br>
           <a href="/foodapp/meals" class="btn btn-info btn-sm">Choose</a>

    </div>

    <div class="col">
      <img src="{% static 'images/start4.png' %}" alt="" width="200px;" height="200px">
        <h6>Chicken Tikka</h6>
        <h7>Rasoi FortKochi</h7>
        &nbsp;&nbsp;&nbsp;15%Offer<br>
           <a href="/foodapp/starter" class="btn btn-info btn-sm">Choose</a>

    </div>
      <div class="col">
      <img src="{% static 'images/me2.png' %}" alt="" width="200px;" height="200px">
        <h6>Tamilnadu Meals</h6>
        <h7>Ajwa</h7>
           <a href="/foodapp/meals" class="btn btn-info btn-sm">Choose</a>

    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col">
      <img src="{% static 'images/piza.png' %}" alt="" width="200px;" height="200px">
        <h6>Meat Cheese Pizza</h6>
        <h7>Trilogi</h7>
           <a href="/foodapp/snack" class="btn btn-info btn-sm">Choose</a>

    </div>
   <div class="col">
      <img src="{% static 'images/d5.png' %}" alt="" width="200px;" height="200px">
        <h6>Choclate Shake</h6>
        <h7>Coffee Temple </h7>
           <a href="/foodapp/drinks" class="btn btn-info btn-sm">Choose</a>

    </div>
    <div class="col">
      <img src="{% static 'images/me3.png' %}" alt="" width="200px;" height="200px">
        <h6>North Indian Meals</h6>
        <h7>Third palace</h7>
           <a href="/foodapp/meals" class="btn btn-info btn-sm">Choose</a>

    </div>
     <div class="col">
      <img src="{% static 'images/sandwitch.png' %}" alt="" width="200px;" height="200px">
        <h6>Mutton Sandwitch</h6>
        <h7>Wheels</h7>
           <a href="/foodapp/snack" class="btn btn-info btn-sm">Choose</a>
    </div>
</div>
      <br><br>
      <div class="row">
    <div class="col">
      <img src="{% static 'images/home4.jpg' %}" alt="" width="200px;" height="200px">
        <h6>Cheese Burger</h6>
        <h7>Trilogi</h7>
           <a href="/foodapp/snack" class="btn btn-info btn-sm">Choose</a>

    </div>
   <div class="col">
      <img src="{% static 'images/home2.png' %}" alt="" width="200px;" height="200px">
        <h6>Chilli Beef</h6>
        <h7>Raosi </h7>
           <a href="/foodapp/meals" class="btn btn-info btn-sm">Choose</a>

    </div>
    <div class="col">
      <img src="{% static 'images/shake.jpg' %}" alt="" width="200px;" height="200px">
        <h6>Strawbery Shake</h6>
        <h7>Coffee Temple</h7>
           <a href="/foodapp/drinks" class="btn btn-info btn-sm">Choose</a>

    </div>
     <div class="col">
      <img src="{% static 'images/home1.png' %}" alt="" width="200px;" height="200px">
        <h6>Mutton Curry</h6>
        <h7>Ramees Hotel</h7>
           <a href="/foodapp/meals" class="btn btn-info btn-sm">Choose</a>
    </div>
</div>
  </div>
  </div>
      {% include "html/footer.html" %}
</body>

</html>